.git
.gitattributes
.gitignore
.github
.devcontainer
.vscode
.run
doc
tst
bin
Dockerfile
docker-compose.yml
.codeclimate.yml
.csslintrc
.editorconfig
.jshintrc
.nsprc
.php_cs
.scrutinizer.yml
.styleci.yml
crowdin.yml
composer.json
composer.lock
Procfile
*.md
**/node_modules
